/* 
  article.css
  HackerReader

  Created by Zhang Yan on 15/11/21.
  Copyright © 2015年 Yeah. All rights reserved.
*/

@charset "utf-8";
/* CSS Document */
html,body,p,span,a,strong,ul,li,input,textarea{margin:0;padding:0; border:none; font-weight:normal;}

header {
    background-color: #d99;
    color: white;
    padding: 10px;
    margin: 0;
    min-height: 50px;
}

header h1.title {
    font-size: 16px;
    margin: 0;
}

header div.author:before {
    content: "by "
}

header div.author {
    font-size: 13px;
    margin: 0;
}

article {
    color: #565656;
    padding: 10px;
    font-size: 14px;
}

pre code {
    display: block;
}

code {
    background-color: #F5F5F5;
    padding: 5px;
    overflow-x: scroll;
}

.comments {
    margin-top: 10px;
    padding: 10px;
}

.comment {
    font-size: 14px;
    position: relative;
    min-height: 80px;
    margin-bottom: 10px;
}

.comment .avatar {
    position: absolute;
    left: 5px;
    top: 0;
}

.comment .avatar img {
    border-radius: 20px;
    height: 40px;
    width: 40px;
}

.comment .content {
    color: #565656;
    padding-left: 55px;
}

.comment .content img {
    height: 20px;
}

.comment .infos {
    font-size: 13px;
    color: gray;
    padding-left: 55px;
}
